<div class="wrapper">
    <header class="header">
        <a href="index.html" class="header__logo">
            <img src="../img/logo.svg" alt="Логотип" width="70px" height="70px">
        </a>
        <div class="menu__wrapper">
            <ul class="menu">
                <li class="menu__item"><a href="" class="menu__link">Главная</a></li>
                <li class="menu__item"><a href="" class="menu__link">Курсы</a></li>
                <li class="menu__item"><a href="" class="menu__link">Премиум</a></li>
                <li class="menu__item"><a href="" class="menu__link">Вход</a></li>
            </ul>
        </div>
    </header>
</div>